In [2]:
import data_access
from data_access import MARKS
import bokeh.models as models
import pandas as pd

In [3]:
data = data_access.get_race_data("170530",1)

In [4]:
data.keys()

['FL1',
 'FL2',
 'SWE',
 'SL1',
 'SL2',
 'M1',
 'WG2',
 'LG2',
 'WG1',
 'LG1',
 'events',
 'NZL']

In [5]:
def get_start_time(data):
    # returns start time (the gun) in s from midnight
    events_frame = data['events']
    return events_frame.loc[events_frame['Event'] == 'RaceStarted']['Secs'][0]

def get_mark_list(data):
    # returns positions of the marks at start time
    mark_data = pd.concat([data[m] for m in MARKS])
    start_time = get_start_time(data)
    return mark_data.loc[abs(mark_data['Secs'] - start_time) < .5]

In [6]:
marks = get_mark_list(data)[]

SyntaxError: invalid syntax (<ipython-input-6-be8aa32a1f18>, line 1)

In [7]:
for i in data['NZL'].iterrows():
    print i['Date']

TypeError: 'generator' object has no attribute '__getitem__'

In [14]:
import numpy as np
np.array([range(3) for i in range(2)]).transpose()[0]

array([0, 0])

In [8]:
marks.columns

Index([u'Boat', u'Date', u'Secs', u'LocalTime', u'Zone', u'Lat', u'Lon',
       u'Hdg', u'Heel', u'Pitch', u'COG', u'SOG', u'CourseWindDirection',
       u'CourseWindSpeed', u'yHdg', u'ySpeed', u'yTWS', u'yTWD', u'yAWS',
       u'yAWA', u'yTWA', u'ySOG', u'yCOG', u'yRudder'],
      dtype='object')

In [11]:
marks["CourseWindDirection"]

581    306.1
580    306.1
573    306.1
567    306.1
544    306.1
576    306.1
543    306.1
577    306.1
580    306.1
Name: CourseWindDirection, dtype: float64

In [5]:
['SL1'].head()

,Boat,Date,Secs,LocalTime,Zone,Lat,Lon,Hdg,Heel,Pitch,...,yHdg,ySpeed,yTWS,yTWD,yAWS,yAWA,yTWA,ySOG,yCOG,yRudder
0,SL1,30:05:2017,50588.0,14:03:08.000,-3,32.309573,-64.839937,273.9,0.0,0.0,...,0.0,1.1,8.8,299.3,7.7,29.0,8.5,0.0,0.0,0.0
1,SL1,30:05:2017,50588.5,14:03:08.500,-3,32.309572,-64.839939,273.6,0.0,0.0,...,0.0,1.9,8.8,299.3,7.7,29.0,8.5,0.0,0.0,0.0
2,SL1,30:05:2017,50589.0,14:03:09.000,-3,32.309566,-64.839939,272.9,0.0,0.0,...,0.0,2.7,8.7,298.6,9.6,28.0,9.9,0.0,0.0,0.0
3,SL1,30:05:2017,50589.5,14:03:09.500,-3,32.309570,-64.839938,272.2,0.0,0.0,...,0.0,0.9,8.7,298.6,9.6,28.0,9.9,0.0,0.0,0.0
4,SL1,30:05:2017,50590.0,14:03:10.000,-3,32.309572,-64.839938,271.0,0.0,0.0,...,0.0,2.4,8.7,298.3,7.9,25.0,11.7,0.0,0.0,0.0

In [9]:
data['WG1'].iloc[0]

Boat                            WG1
Date                     30:05:2017
Secs                          50588
LocalTime              14:03:08.000
Zone                             -3
Lat                         32.3059
Lon                         -64.847
Hdg                             266
Heel                              0
Pitch                             0
COG                           275.5
SOG                            1.38
CourseWindDirection           302.6
CourseWindSpeed                10.5
yHdg                              0
ySpeed                          1.4
yTWS                           11.8
yTWD                          303.3
yAWS                            9.7
yAWA                             38
yTWA                           33.6
ySOG                              0
yCOG                              0
yRudder                           0
Name: 0, dtype: object

In [ ]:
source = models.ColumnDataSource(get_mark_list(data))

In [ ]:
source.column_names

In [ ]:
boatWidth = 8.47
boatLength = 15.00
bowWidth = 1.0
trampOffset = 3.0
bowTip = .2


sr = [boatWidth / 2.0, 0.0]
sl = [-boatWidth / 2.0, 0.0]
brr = [boatWidth / 2.0, boatLength]
bru = [boatWidth / 2.0 - bowWidth / 2.0, boatLength + bowTip]
brl = [boatWidth / 2.0 - bowWidth, boatLength]
trampr = [boatWidth / 2.0 - bowWidth, boatLength - tramp_offset]
trampl = [-(boatWidth / 2.0 - bowWidth), boatLength - tramp_offset]
bll = [-boatWidth / 2.0, boatLength]
blu = [-(boatWidth / 2.0 - bowWidth / 2.0), boatLength + bowTip]
blr = [-(boatWidth / 2.0 - bowWidth), boatLength]

In [ ]:
boatWidth = 0.000076
boatLength = 0.000136
bowWidth = 0.000009
trampOffset = 0.000027
bowTip = 0.000002


sr = [boatWidth / 2.0, 0.0]
sl = [-boatWidth / 2.0, 0.0]
brr = [boatWidth / 2.0, boatLength]
bru = [boatWidth / 2.0 - bowWidth / 2.0, boatLength + bowTip]
brl = [boatWidth / 2.0 - bowWidth, boatLength]
trampr = [boatWidth / 2.0 - bowWidth, boatLength - tramp_offset]
trampl = [-(boatWidth / 2.0 - bowWidth), boatLength - tramp_offset]
bll = [-boatWidth / 2.0, boatLength]
blu = [-(boatWidth / 2.0 - bowWidth / 2.0), boatLength + bowTip]
blr = [-(boatWidth / 2.0 - bowWidth), boatLength]